.gentle-bounce {
  animation: gentleBounce ease 3s;
  animation-delay: 2s;
  -webkit-animation: gentleBounce ease 3s;
  -webkit-animation-delay: 2s;
  -moz-animation: gentleBounce ease 3s;
  -moz-animation-delay: 2s;
  -o-animation: gentleBounce ease 3s;
  -o-animation-delay: 2s;
  -ms-animation: gentleBounce ease 3s;
  animation-iteration-count: infinite;
}  

@keyframes gentleBounce{
  0% {
      transform: translateY(0px);
  }
  25% {
      transform: translateY(25px);
  }
  50% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(0px);
  }
}

@-moz-keyframes gentleBounce {
  0% {
      transform: translateY(0px);
  }
  25% {
      transform: translateY(25px);
  }
  50% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(0px);
  }
}

@-webkit-keyframes gentleBounce {
  0% {
      transform: translateY(0px);
  }
  25% {
      transform: translateY(25px);
  }
  50% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(0px);
  }
}

@-o-keyframes gentleBounce {
  0% {
      transform: translateY(0px);
  }
  25% {
      transform: translateY(25px);
  }
  50% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(0px);
  }
}

@-ms-keyframes gentleBounce {
  0% {
      transform: translateY(0px);
  }
  25% {
      transform: translateY(25px);
  }
  50% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(0px);
  }
}