* {font-size: 20px}

/* Navbar */
nav .menu-desktop {
  visibility: visible;
  width: 100%;
}

nav .menu-desktop ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav .menu-desktop ul li {
  height: 100%;
}

nav .menu-desktop ul li a{
  padding: 1.2rem;
  font-weight: 500;
  transition: all 0.4s ease;
}

nav .menu-desktop ul li a:hover {
  color: var(--secondary-color);
  background: var(--overlay-color);
}

.current {
  color: var(--secondary-color);
  background: var(--overlay-color);
}

/* Header */
header h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}

/* Section: Specialties */
#especialidades .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#especialidades .container .specialty {
  justify-content: center;
  text-align: center;
  max-width: 300px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1rem;
  margin: 1rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background: var(--overlay-color);
  color: #fff;
}

#especialidades .container .specialty .icon {
  margin: 0;
}

#especialidades .container .specialty h3 {
  padding: 1rem;
}

/* Section: Who */
#quienes_somos p.desc {
  max-width: 900px;
  margin: 0 auto;
}

#quienes_somos .specialists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#quienes_somos .specialists h3 {
  flex-basis: 100%;
}

#quienes_somos .specialists .specialist {
  margin: 0 25px;
}

/* Section: Experience/Where */
#nuestra_experiencia > p {
  text-align: center;
}

#nuestra_experiencia figure {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 600px;
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.glide {
  max-width: 1100px;
  margin: 0 auto;
}