* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --padding-y: 0 10px;
  --primary-color: rgb(8, 94, 0);
  --secondary-color: rgba(171, 210, 95, 0.95);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --bg-color: rgba(196,196,196,0.55);
  --menu-speed: 0.75s;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */
nav {
  height: 75px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: var(--bg-color);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: var(--padding-y);
}

nav .ssv-logo {
  height: 55px;
}

nav .menu-wrap {
  visibility: hidden;
}

nav .menu-desktop {
  visibility: hidden;
}

/* Header */
header {
  height: 100vh;
  width: 100%;
  background: #EBEBEB url(../img/bg-header.jpg) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header .container {
  padding: var(--padding-y);
}

header h1 {
  font-family: 'Frank Ruhl Libre', serif;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

header p {
  font-size: 1.6rem;
  font-weight: 500;
}

header .arrow-down {
  position: relative;
  top: 20vh;
}
header .arrow-down img {
  height: 3rem;
}

/* Image Separator */
.img-separator.sep01 {
  height: 25vh;
  background: url(../img/img-sep01.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-separator.sep02 {
  height: 25vh;
  background: url(../img/img-sep02.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-separator.sep03 {
  height: 25vh;
  background: url(../img/img-sep03.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sections */
section h2 {
  font-family: 'Frank Ruhl Libre', serif;
  text-decoration: underline;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.75rem;
}

/* Sections */
section {
  background: #EBEBEB;
  padding: 30px 15px;
  width: 100%;
}

section h2 {
  padding: 25px 0;
}

/* Section: Specialties */
#especialidades .container .specialty {
  padding: 25px 0;
  display: flex;
  align-items: center;
}

#especialidades .container .specialty .icon {
  background: var(--secondary-color);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
#especialidades .container .specialty .icon img {
  padding: 10px;
}

#especialidades .container .specialty h3 {
  padding-bottom: 0.5rem;
}

/* Section: Who */
#quienes_somos p.desc {
  text-align: justify;
  padding: 1rem 0;
  line-height: 1.5rem;
}
#quienes_somos > p:nth-of-type(2n) {
  padding-bottom: 2rem;
}

#quienes_somos .specialists h3 {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

#quienes_somos .specialists .specialist {
  text-align: center;
  padding-bottom: 25px;
}

#quienes_somos .specialists .specialist img {
  height: 250px;
  border-radius: 50%;
  margin: 1.5rem;
}

#quienes_somos .specialists .specialist .name {
  font-size: 1.1rem;
}
#quienes_somos .specialists .specialist .expertise {
  border-bottom: solid 1px #c4c4c4;
}
#quienes_somos .specialists .specialist p {
  padding-bottom: 0.5rem;
}

/* Section: Experience/Where */
#nuestra_experiencia > p {
  text-align: justify;
  padding-bottom: 30px;
  line-height: 1.5rem;
}

#nuestra_experiencia figure {
  background: rgba(196,196,196,0.55);
  /* border-radius: 15px; */
  margin-bottom: 2rem;
}

#nuestra_experiencia figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
#nuestra_experiencia figure h3 {
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem;
  padding-top: 1.5rem;
}
#nuestra_experiencia figure p {
  text-align: justify;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  line-height: 1.5rem;
}

/* Setion: Contact */
#contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contacto .subtitle {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}

#contacto .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contacto .container .card {
  display: flex;
  margin: 15px;
  /* flex-basis: 356px; */
  align-items: center;
  padding: 10px;
  background: rgba(196,196,196,0.55);
  border-radius: 15px;
  transition: background 0.4s ease;
}

#contacto .container .card p {
  padding-left: 10px;
}

#contacto .container .card:hover {
  background: var(--secondary-color);
}

/* Footer */
footer {
  height: 15vh;
  display: flex;
  align-items: center;
  background: #727272;
}

footer img {
  height: 60px;
  margin: auto;
}