* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: #fcfcfc;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: auto;
}

section .container {
  padding: 75px 20px;
  background-color: #fff;
}

section h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 3rem;
}

.divisor-01 {
  height: 25vh;
  margin: 0 auto;
  max-width: 100%;
  background: url(../img/img-sep01.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.divisor-02 {
  height: 25vh;
  margin: 0 auto;
  max-width: 100%;
  background: url(../img/img-sep02.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.divisor-03 {
  height: 25vh;
  margin: 0 auto;
  max-width: 100%;
  background: url(../img/img-sep03.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gentle-bounce {
  animation: gentleBounce ease 3s;
  animation-delay: 2s;
  -webkit-animation: gentleBounce ease 3s;
  -webkit-animation-delay: 2s;
  -moz-animation: gentleBounce ease 3s;
  -moz-animation-delay: 2s;
  -o-animation: gentleBounce ease 3s;
  -o-animation-delay: 2s;
  -ms-animation: gentleBounce ease 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes gentleBounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes gentleBounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

nav {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #242424;
  color: #fff;
  z-index: 2;
}

nav .container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-logo {
  height: 50px;
  width: 50px;
}

nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-menu .nav-link {
  line-height: 1;
  padding: 20px 15px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

nav .nav-menu .nav-link:hover {
  background-color: #0184ef;
}

#start {
  height: 100vh;
  width: 100%;
}

#start .bg-main {
  background: url(../img/bg-main.jpg) no-repeat center center/cover;
  height: 100%;
  width: 100%;
}

#start .bg-main::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

#start .container {
  position: relative;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#start h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-family: 'Frank Ruhl Libre', serif;
}

#start .main-subtitle {
  font-size: 2.2rem;
}

#start .scroll-indicator {
  width: 40px;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

#whatWeDo {
  min-height: 50vh;
}

#whatWeDo .what-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#whatWeDo .what-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: 400px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

#whatWeDo .what-icon {
  height: 90px;
  width: 90px;
  padding: 10px;
  border-radius: 50%;
  border: solid 2px #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#whatWeDo .what-icon img {
  height: 50px;
}

#whatWeDo .what-title {
  padding: 1rem;
  font-size: 1.3rem;
}

#whatWeDo .what-text {
  line-height: 1.75;
}

#whoWeAre .who-text {
  text-align: justify;
  padding-bottom: 1.5rem;
  line-height: 1.5rem;
}

#whoWeAre .who-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#whoWeAre .who-portrait {
  text-align: center;
  line-height: 1.5;
  border-bottom: solid 1px #c5c5c5;
}

#whoWeAre .who-portrait img {
  width: 250px;
  border-radius: 50%;
  margin: 1.5rem;
}

#whoWeAre .who-portrait .portrait-text {
  padding-bottom: 1rem;
}

#where .where-subtitle {
  text-align: center;
  padding-bottom: 2rem;
  line-height: 1.5;
}

#where .where-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin: 1rem;
}

#where .where-tile {
  width: 400px;
  height: 350px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  border-radius: 5px;
}

#where .where-tile:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#where .where-img {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
}

#where .where-img.where-01 {
  background: url(../img/01-venado_tuerto.jpg) no-repeat center center/cover;
}

#where .where-img.where-02 {
  background: url(../img/02-rojas.jpg) no-repeat center center/cover;
}

#where .where-img.where-03 {
  background: url(../img/03-buchardo-cordoba.jpg) no-repeat center center/cover;
}

#where .where-img.where-04 {
  background: url(../img/04-beruti-trenque-lauquen.jpg) no-repeat center center/cover;
}

#where .where-title {
  width: 100%;
  height: 50px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contactInfo .contact-text {
  text-align: center;
  padding-bottom: 1.5rem;
  line-height: 1.5;
}

#contactInfo .contact-text span {
  font-weight: bold;
}

#contactInfo .social-icons {
  padding: 2rem;
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contactInfo .social-icons a {
  height: 50px;
  width: 50px;
  border-radius: 12px;
  -webkit-filter: invert(9%) sepia(10%) saturate(5%) hue-rotate(321deg) brightness(98%) contrast(89%);
          filter: invert(9%) sepia(10%) saturate(5%) hue-rotate(321deg) brightness(98%) contrast(89%);
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

#contactInfo .social-icons a:hover {
  -webkit-filter: invert(45%) sepia(99%) saturate(1471%) hue-rotate(89deg) brightness(93%) contrast(83%);
          filter: invert(45%) sepia(99%) saturate(1471%) hue-rotate(89deg) brightness(93%) contrast(83%);
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

#experience h2 {
  padding-top: 2rem;
  font-family: 'Frank Ruhl Libre', serif;
  text-transform: uppercase;
}

#experience .glide__arrow img {
  height: 18px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(324deg) brightness(105%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(324deg) brightness(105%) contrast(101%);
}

#experience .glide__slide {
  height: 50vh;
}

#experience .glide__slide .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 100%;
  width: 100%;
}

#experience .glide__slide .slide h3 {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.2rem;
  font-weight: normal;
}

#experience .glide__slide .slide-01 {
  background: url(../img/01-venado_tuerto.jpg) no-repeat center bottom/cover;
}

#experience .glide__slide .slide-02 {
  background: url(../img/02-rojas.jpg) no-repeat center bottom/cover;
}

#experience .glide__slide .slide-03 {
  background: url(../img/03-buchardo-cordoba.jpg) no-repeat center bottom/cover;
}

#experience .glide__slide .slide-04 {
  background: url(../img/04-beruti-trenque-lauquen.jpg) no-repeat center bottom/cover;
}

#experience .experience-gallery {
  padding-top: 1.5rem;
}

#experience .experience-tile {
  min-height: 350px;
  line-height: 2;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#experience .experience-tile:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#experience .experience-img {
  width: 50%;
}

#experience .experience-desc {
  padding: 1rem;
  width: 50%;
}

#experience .experience-title {
  text-align: center;
}

#experience .experience-txt {
  text-align: justify;
}

#experience .experience-01 {
  background: url(../img/01-venado_tuerto.jpg) no-repeat center bottom/cover;
}

#experience .experience-02 {
  background: url(../img/02-rojas.jpg) no-repeat center bottom/cover;
}

#experience .experience-03 {
  background: url(../img/03-buchardo-cordoba.jpg) no-repeat center bottom/cover;
}

#experience .experience-04 {
  background: url(../img/04-beruti-trenque-lauquen.jpg) no-repeat center bottom/cover;
}

footer {
  border-top: 1px solid #242424;
  text-align: center;
  padding: 2rem;
}

footer img {
  height: 100px;
  width: 100px;
}

@media (max-width: 600px) {
  nav {
    height: 100px;
  }
  nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .nav-logo {
    height: 30px;
  }
  nav .nav-menu .nav-link {
    padding: 0.5rem 0.5rem;
  }
  #start h1 {
    font-size: 2rem;
    line-height: 1.5;
  }
  #start .main-subtitle {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  #experience .experience-tile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #experience .experience-tile:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #experience .experience-img {
    min-height: 250px;
    width: 100%;
  }
  #experience .experience-desc {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */